   
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body row">
                  <div class="col-xs-3">
                   <ul class="nav nav-tabs nav-stacked">
                      <li class="active"><a href="carte#tab_ba" data-toggle="pill">Vidéos</a></li>
                      <li><a href="carte#tab_bb" data-toggle="pill">BD</a></li>
                      <li><a href="carte#tab_bc" data-toggle="pill">Croquis</a></li>
                      <li><a href="carte#tab_bd" data-toggle="pill">Autres</a></li>
                    </ul>
                  </div>
                 

           <!--VIDEOS -->


                  <div class="tab-content col-xs-9">
                    <div class="tab-pane active row" id="tab_ba">
                        <div class="col-xs-12">
                            <h2 class="titlevideo">Bonus Vidéos<h2>
                        </div>
                        <div class="col-xs-12 colvideo">     
            <img class="img-responsive imgcenter video-thumb " src="http://placehold.it/555x100"/>
            <p>Scène coupée 1</p>
              </div>    
                     <div class="col-xs-12 colvideo">     
            <img class="img-responsive imgcenter video-thumb " src="http://placehold.it/555x100"/>
            <p>Scène coupée 2</p>
              </div>    
                     <div class="col-xs-12 colvideo">     
            <img class="img-responsive imgcenter video-thumb " src="http://placehold.it/555x100"/>
            <p>Scène coupée 3</p>
              </div>     
                    </div>
               
                <!--BD -->


                 
                    <div class="tab-pane" id="tab_bb">
                        <div class="col-xs-12">
                            <h2 class="titlevideo">Bonus BD<h2>
                        </div>
                        <div class="col-xs-12">     
            <p>Découvrez des extraits exclusifs et des histories inédites de la BD NOOB</p>
              </div>    
                     <div class="row grimoire">
                       <div class="col-xs-4">
                        <img src="images/couvbd.jpg" class="img-responsive">
                        <p>Extrait 1</p>
                       </div>
                        <div class="col-xs-4">
                        <img src="images/couvbd.jpg" class="img-responsive">
                        <p>Extrait 2</p>
                    </div>
                      <div class="col-xs-4">
                        <img src="images/couvbd.jpg" class="img-responsive">
                        <p>Extrait 3</p>
                    </div>
                  </div>
                 
                    </div>
            
                 

                 <!--CROQUIS -->

                 
                    <div class="tab-pane" id="tab_bc">
                        <div class="col-xs-12">
                            <h2 class="titlevideo">Bonus Croquis<h2>
                        </div>
                        <div class="col-xs-12">     
            <p>Découvrez des croquis exclusifs de l'univers de NOOB</p>
              </div>    
                     <div class="row grimoire">
                       <div class="col-xs-4">
                        <img src="images/perso/3.png" class="img-responsive">
                        <p>Croquis 1</p>
                       </div>
                        <div class="col-xs-4">
                        <img src="images/perso/3.png" class="img-responsive">
                        <p>Croquis 2</p>
                    </div>
                      <div class="col-xs-4">
                        <img src="images/perso/3.png" class="img-responsive">
                        <p>Croquis 3</p>
                    </div>
                  </div>
                 </div>


                  <!--AUTRES -->

                 
                    <div class="tab-pane" id="tab_bd">
                        <div class="col-xs-12">
                            <h2 class="titlevideo">Autres Bonus</h2>
                        </div>
                        <div class="col-xs-12">
                            <p>En exclusivité sur Noob !</p>
                        </div>
                     <div class="row grimoire">
                       <div class="col-xs-4">
                        <img src="images/ab.png" class="img-responsive">
                        <p>Bonus 1</p>
                       </div>
                        <div class="col-xs-4">
                        <img src="images/ab.png" class="img-responsive">
                        <p>Bonus 2</p>
                    </div>
                      <div class="col-xs-4">
                        <img src="images/ab.png" class="img-responsive">
                        <p>Bonus 3</p>
                    </div>
                  </div>
                 </div>






              </div>
            </div>    
          </div>
 