<div ng-controller="BonusCtrl" class="modalt">
    <div class="modal-content">
        <div class="modal-header positionheader">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove croix" aria-hidden="true"></span>

            </button>
        </div>
        <div class="row modalt">
            <div class="col-xs-3 menugauchepop">
                <img src="images/menuvideo.png" class="img-responsive menuprofil" ng-click="ListeBonusV()">
                <img src="images/menubd.png" class="img-responsive menugrim" ng-click="ListeBonusBD()">
                <img src="images/menucroquis.png" class="img-responsive menuhf" ng-click="ListeBonusC()">
            </div>
            <!--Videos-->
            <div class="col-xs-9 contenudelapopg">
                <img src="images/parcheminpop.png" class="img-responsive parcheminpop">
                <div class="row taillegrim positionbonus" ng-if="step==1">
                    <div class="col-xs-6 contenuliste textpop textgrimoire2" ng-repeat="b in listeBV">
                        <div ng-click="FicheBonusV(b.id_Bonus)">
                            <img src="images/videobonus/{{b.id_Bonus}}.png" class="img-responsive hperso imgcenter backvideos">{{b.nom_Bonus}}</div>
                    </div>
                </div>
                <!--BD-->
                <div class="row taillegrim positionbonus" ng-if="step==2">
                    <div class="col-xs-6 contenuliste textpop textgrimoire2" ng-repeat="b in listeBBD">
                        <div ng-click="FicheBonusBD(b.id_Bonus)">
                            <img src="images/bdbonus/{{b.id_Bonus}}.png" class="img-responsive hperso imgcenter backvideos">{{b.nom_Bonus}}</div>
                    </div>
                </div>
                <!--Croquis-->
                <div class="row taillegrim positionbonus" ng-if="step==3">
                    <div class="col-xs-6 contenuliste textpop textgrimoire2" ng-repeat="b in listeBC">
                        <div ng-click="FicheBonusC(b.id_Bonus)">
                            <img src="images/croquisbonus/{{b.id_Bonus}}.png" class="img-responsive hperso imgcenter backvideos">{{b.nom_Bonus}}</div>
                    </div>
                </div>
                <!--Expand Bonus-->
                <div class="row taillegrim positiongrim" ng-if="step==4">
                    <div class="col-xs-12 contenuliste textpop" ng-repeat="b in ficheBonusV">
                        <img src="images/videobonus/{{b.id_Bonus}}.png" class="img-responsive">{{b.nom_Bonus}}</div>
                </div>
                <div class="row taillegrim positiongrim" ng-if="step==5">
                    <div class="col-xs-4 expandbdc contenuliste textpop" ng-repeat="b in ficheBonusBD">
                        <img src="images/bdbonus/{{b.id_Bonus}}.png" class="img-responsive">{{b.nom_Bonus}}</div>
                </div>
                <div class="row taillegrim positiongrim" ng-if="step==6">
                    <div class="col-xs-4 expandbdc contenuliste textpop titrefiche" ng-repeat="b in ficheBonusC">
                        <img src="images/croquisbonus/{{b.id_Bonus}}.png" class="img-responsive">{{b.nom_Bonus}}</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>