<div class="background">

    <div>
        <a href ="#accueil"> <img id="logo" src="images/bandeaunoob.png"> </a>
    </div>
    
    <div class="" id="colgaea" >
        <img class="img-responsive imgaventure" src="images/gaea.png">
    </div>    

    <div class="btncontainer">
        <div class="btnplay col-xs-8 col-xs-offset-4">
            <img src="images/miniatures.png" id="miniatures" class="imgcenter">
            <a href="#carte"><button type="button" class="btn btn-default btn-lg imgcenter titles btn-3">Jouer</button></a>
        </div>
    
    
        <div class="btnplay col-xs-8 col-xs-offset-4">
            <a href="#news"><button type="button" class="btn btn-default btn-lg imgcenter titles btn-2">Les <font class="gras">actus</font></button></a>
        </div>
    
    
        <div class="btnplay col-xs-8 col-xs-offset-4">
            <a href="#videos"><button type="button" class="btn btn-default btn-lg imgcenter titles btn-1">La <font class="gras">webserie</font></button></a>
        </div>
    </div>
    
</div>


