<div ng-controller="CarteCtrl">
<div class="image">     
  <img src="images/carte1.svg" alt="carte noob" usemap="#carte" /> 
   <map name="carte">
    <area shape="rect" coords="682,704,705,727" href="#index" alt="Accueil" />
    <area shape="rect" coords="579,644,598,668" href="#profil"   />

  </map>

   <div>   <!-- MON MENU QUI APPELLE LES PANEL QUI SONT SENSER ETRE INCLUS-->
      
          <p data-toggle="modal" data-target="#myModal">
                <img src="images/grimoire.svg" id="grimoire">
           </p>
          
           <p> <!-- LES ANCRES -->
                <img src="images/bonus.png" id="bonus" ng-click="popup();">
           </p>
          
           <p>
                <a href="#quete1"><img src="images/aide.png" id="aide" ></a>
           </p>
           
              
   
   </div>   


<div  class="popup-back" ng-if="pop==2"> 
    
        
        <div class="popup-in">

          <div class="popup-content">
            <div class="col-xs-12">
              <p>coucou je suis la pop up</p>
            </div>
          </div>

        </div>

           
     </div>


      <!-- ICI Jappelle mes vue partiel-->
       <div role="tabpanel"> 
    
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-include="'partials/myModal.html'">
          
           </div>
     </div>  
   

        <!-- ICI Jappelle mes vue partiel-->
        <div role="tabpanel">

           <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"ng-include="'partials/myModal1.html'">
       
          </div>
    </div>       
    

</div>   
    
    
    
<footer id="footercarte" >
          <div class="container" >
              <a href back><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
          </div>
           <div class="infos" >
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </div> 
</footer>

 
</div>