<div>
        <a href ="#accueil"> <img class="logoint" src="images/logonoob.png"> </a>
</div>

<section class="panel newsp"  ng-controller="NewsCtrl as news">


<div class="modal-dialog">
<div class="tab-content col-xs-12 videoc">
    <div class="tab-pane active" id="tab_y">
                        
	<div class="panel" ng-show="news.isSelected(1)">
		<!--https://dev.twitter.com/web/embedded-timelines#customization            pour custom-->
		<a  class="twitter-timeline" href="https://twitter.com/Noob_la_serie" data-widget-id="539786771002052609" data-chrome="noheader noborders noscrollbar">Tweets de @Noob_la_serie</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


		<a  class="twitter-timeline" href="https://twitter.com/ArtheonNoob" data-widget-id="539787475779325952"  data-chrome="noheader noborders noscrollbar">Tweets de @ArtheonNoob</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<a class="twitter-timeline" href="https://twitter.com/gaeaguildenoob" data-widget-id="540155119481131008" data-chrome="noheader noborders noscrollbar">Tweets de @gaeaguildenoob</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<a class="twitter-timeline" href="https://twitter.com/sparadrapNooB" data-widget-id="540156831830925312" data-chrome="noheader noborders noscrollbar">Tweets de @sparadrapNooB</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

	</div>

	<div class="panel" ng-show="news.isSelected(2)">	
		<a class="twitter-timeline" href="https://twitter.com/Noob_la_serie" data-widget-id="539786771002052609"  data-chrome="noheader noborders noscrollbar">Tweets de @Noob_la_serie</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="panel" ng-show="news.isSelected(3)">
		<a class="twitter-timeline" href="https://twitter.com/ArtheonNoob" data-widget-id="539787475779325952"  data-chrome="noheader noborders noscrollbar">Tweets de @ArtheonNoob</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

	<div class="panel" ng-show="news.isSelected(4)">
		<a class="twitter-timeline" href="https://twitter.com/gaeaguildenoob" data-widget-id="540155119481131008" data-chrome="noheader noborders noscrollbar">Tweets de @gaeaguildenoob</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
	</div>

<div class="panel" ng-show="news.isSelected(5)">
<a class="twitter-timeline" href="https://twitter.com/sparadrapNooB" data-widget-id="540156831830925312" data-chrome="noheader noborders noscrollbar">Tweets de @sparadrapNooB</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
</div>


</div>

 
                    <div class="tab-pane row" id="tab_z">
                     
                        <div class="col-xs-12">
                            <p>Clara</p>
                            <p>Classement : 3200/3200</p>
                            <p>Grade : Novice</p>
                            <p>Niveau : 1</p>
                      
                        </div>
                        </div>
                         </div>
                         </div> 
                        
                    

<footer class="footer footernews" >
        
            
<ul class="nav nav-tabs">
               

                <div class="col-xs-5 iconnews iconsposition active">
                    
                <a href="news#tab_y" data-toggle="pill"></a><span data-toggle="dropdown" aria-hidden="true">
                        <img class="iconback" src="images/tweet.svg"></span></a>
                 
               <ul class="dropdown-menu drop-up pull-center" role="menu">
                            <li ng-class="{ active:news.isSelected(1)}"><a href="" ng-click="news.selectTab(1)">Tous les tweets</a></li>
                            <li ng-class="{ active:news.isSelected(2)}"><a href =""ng-click="news.selectTab(2)">Noob</a></li>
                            <li ng-class="{ active:news.isSelected(3)}"><a href =""ng-click="news.selectTab(3)">Artheon</a></li>
                            <li ng-class="{ active:news.isSelected(4)}"><a href =""ng-click="news.selectTab(4)">Gaea</a></li>
                            <li ng-class="{ active:news.isSelected(5)}"><a href =""ng-click="news.selectTab(5)">Sparadrap</a></li>
                    </ul>
                </div>
                  

                <div class="col-xs-2 iconnews iconsposition">
                    <a href back><span><img class="iconback" src="images/home.svg"><!--<img class="iconback" src="images/back.svg">-->
                    </span></a>
                </div>

                <div class="col-xs-5 iconnews iconsposition">
                    <a href="news#tab_z" data-toggle="pill"><span><img class="iconback" src="images/article.svg"></span></a>
                </div> 

               <!--<div class="col-xs-2">
                    <span data-toggle="dropdown" aria-hidden="true">
                       <img class="iconback" src="images/profil.svg">
                    </span>
                    <ul class="dropdown-menu drop-up pull-right" role="menu">
                            <li ng-class="{ active:news.isSelected(1)}"><a href="" ng-click="news.selectTab(1)">Tous les tweets</a></li>
                            <li ng-class="{ active:news.isSelected(2)}"><a href =""ng-click="news.selectTab(2)">Noob</a></li>
                            <li ng-class="{ active:news.isSelected(3)}"><a href =""ng-click="news.selectTab(3)">Artheon</a></li>
                            <li ng-class="{ active:news.isSelected(4)}"><a href =""ng-click="news.selectTab(4)">Gaea</a></li>
                            <li ng-class="{ active:news.isSelected(5)}"><a href =""ng-click="news.selectTab(5)">Sparadrap</a></li>
                    </ul>
                </div>-->
                </ul>
                
               
                  
</footer>
    
</section>