
<!-- avant structure de tt le profil dans un ctrl profil -->

<section id="sectionMonstre" ng-controller="ListeMonstreCtrl" > 
	
	
     <div ng-repeat="m in listeMonstre">
     	<img src="images/monstre/{{m.id_Bete}}.png">
	     {{m.nom_Bete}}	     
	</div>

</section>

<section  id="sectionPerso" ng-controller="ListePersoCtrl" > 
	
	
     <div ng-repeat="p in listePerso track by p.id_Personnage">
     	<img src="images/perso/{{p.id_Personnage}}.png">
	     {{p.nom_Personnage}}
	</div>

</section>