

<section id="sectionMonstre" ng-controller="ListeMonstreCtrl" > 
	
	
     <div ng-repeat="m in listeMonstre">
     	<img src="images/monstre/{{m.id_Bete}}.png">
	     {{m.nom_Bete}}	     
	</div>

</section>

<section  id="sectionPerso" ng-controller="ListePersoCtrl" > 
	
	
     <div ng-repeat="p in listePerso">
     	<img src="images/perso/{{p.id_Personnage}}.png">
	     {{p.nom_Personnage}}
	</div>

</section>

<section  id="sectionLieu" ng-controller="ListeLieuCtrl" > 
	
	
     <div ng-repeat="l in listeLieu track by $index">     	
	     <h2>{{l.nom_Lieu}}</h2>
	     <h3>{{l.nom_TypeLieu}}</h3>
	     <img src="images/lieu/{{l.id_Lieu}}.png">
	</div>

</section>

<section  id="sectionStuff" ng-controller="ListeStuffCtrl" > 	
	
     <div ng-repeat="l in listeStuff track by $index">     	
	     <h2>{{l.nom_Stuff}}</h2>
	     <h3>{{l.description_Stuff}}</h3>
	     <img src="images/stuff/{{l.id_Stuff}}.png">
	</div>

</section>


<section  id="sectionHautFait" ng-controller="ListeHautFaitCtrl" > 	
	
     <div ng-repeat="l in listeHautFait track by $index">     	
	     <h2>{{l.nom_HautFait}}</h2>
	     <h3>{{l.description_HautFait}}</h3>
	     <img src="images/stuff/{{l.id_HautFait}}.png">
	</div>

</section>