<div ng-controller="Quete1Ctrl">

	<section id="partie1" ng-show="partie1" >
			
			<FORM name="formulaire">

				<img src="images/quete/Quete1/start/titre.png">

				<img src="images/quete/Quete1/start/gaea.png">
	     		
				<INPUT type= "radio" name="perso" value="gaea">							
				
				<img src="images/quete/Quete1/start/omega.png">
				
				<INPUT type= "radio" name="perso" value="omega">

			</FORM>

			<button ng-click="quete1Start()">Go</button>			

	</section>

														<!--OMEGA-->
	<section id="omega1" ng-show="omega1">	
		
		<img src="images/quete/Quete1/omega/1.png" >     	
		<button ng-click="queteOmegaA()">Suivant</button>

	</section>


	<section id="omega2" ng-show="omega2">
		
		<img src="images/quete/Quete1/omega/2.png" >
		<button ng-click="queteOmegaB()">Suivant</button>

	</section>


	<section id="omega3" ng-if="omega3"> <!--NG IF CAR RETIRE DU DOM POUR EVITER AUTOPLAY-->
		<video width="50%" height="50%" id="video-omega" autoplay> 
		  <source src="videos/1.mp4" type="video/mp4">
		  
		</video>
	
		<button ng-click="queteOmegaC()">Suivant</button>

	</section>


	<section id="omega4" ng-show="omega4">
		
		<img src="images/quete/Quete1/omega/3.png" >
		<button ng-click="queteOmegaD()">Validé la quete</button>

	</section>
	<section id="omega5" ng-show="omega5">		
		
		<p>image bravo tu a gagné pleins de truc</p>

	</section>


																<!--GAEA-->

	<section id="gaea1" ng-show="gaea1">	
		
		<img src="images/quete/Quete1/gaea/1.png" >     	
		<button ng-click="queteGaeaA()">Suivant</button>

	</section>

	<section id="gaea2" ng-show="gaea2">	
		
		<img src="images/quete/Quete1/gaea/2.png" >     	
		<button ng-click="queteGaeaB()">Suivant</button>

	</section>

	<section id="gaea3" ng-if="gaea3">	
		
		<video width="50%" height="50%" id="video-omega" autoplay> 
		  <source src="videos/1.mp4" type="video/mp4">
		  
		</video>

	</section>



	
</div>