<div ng-controller="Quete1Ctrl">

	<section id="partie1" ng-show="partie1" >

			
			<FORM name="formulaire">
			<img src="images/perso/5.png" class="imgfb">
     		
				<INPUT type= "radio" name="perso" value="nonok">							
			
			<img src="images/perso/6.png" class="imgfb">
			
				<INPUT type= "radio" name="perso" value="ok">
			</FORM>
			<p>{{texte}}</p>
			<button ng-click="quete1a()">Go</button>


			

	</section>

	<section id="partie2" ng-show="partie2">		

		<p>C'est partit, avec Omegazell on ne crain rien !</p>
		
		<p>{{texteb}}</p>
     	<FORM name="formulaireb">	
				<img src="images/stuff/2.png" >
     		
				<INPUT type= "radio" name="arme" value="nonok">							
			
			<img src="images/stuff/23.jpg" >
			
				<INPUT type= "radio" name="arme" value="ok">
		</FORM>
			<button ng-click="quete1b()">Validé</button>

	</section>

	<section id="partie3" ng-show="partie3">
		
		<p>Te voilà equipé bravo a demain pour de nouvelles aventure chocopops</p>


	</section>

	
</div>