<section ng-controller="Saison3Ctrl"> 
<div class="list col-xs-12" >

        <table class="table table-striped">
        	<tr ng-repeat="v in listeSaison3"  > 
		        <td>

		          <h2>{{ v.nom_Video }}</h2>
		          <h4>Saison: {{ v.saison_Video }}</h4>
		           <h4>Episode: {{ v.episode_Video }}</h4>		           
		          <iframe  src="{{ v.url_Video | trusted }}" frameborder="0" ></iframe>;
		        	
		          
		      	</td>
     		 </tr>
      </table>
       

      </div>
</section>