<div class="background">
    <div> 
        <a href="#accueil"> <img class="logoint" src="images/logonoob.png"> </a>
    </div>
    <section ng-controller="Saison3Ctrl">
        <div class="list col-xs-12 container">
            <img src="images/miniaturessaison3.png" id="" class="imgcenter img-responsive">
            <table class="tableauVideo">
                <tr ng-repeat="v in listeSaison3 | orderBy:'episode_Video'">
                    <td> 
                       
                            <!--<div class="col-xs-4 saison titlesvideos">
                                <p>Episode {{ v.episode_Video }}</p>
                            </div>
                            <div class="col-xs-6 saison titlesep">
                                <p>{{ v.nom_Video }}</p>
                            </div>-->
                        <div class="col-xs-10 saison titlesep">
                                <p>Episode {{ v.episode_Video }}  :      {{ v.nom_Video }}</p>
                            </div>
                            
                            
                            
                            <div class="col-xs-2">
                                <img src="images/saison3/{{v.id_Video}}.png" class="vignette">
                            </div>
                        
                        <div class="col-xs-11 bgsaison espacesaison">{{ v.synopsis_Video }}</div>
                        
                        <!--<h2 class="titlevideo">{{ v.nom_Video }}</h2>
                      <p>Saison: {{ v.saison_Video }} Episode: {{ v.episode_Video }} </p>
                      <p>Durée :{{ v.duree_Video }}min</p>           
                      <iframe  src="{{ v.url_Video | trusted }}" frameborder="0" ></iframe>
                  <p>Synopsis : {{ v.synopsis_Video }}</p> -->
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="container"> 
        <a href back><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    </div>
</footer>
