<div class="background">
    <div>
            <a href ="#accueil"> <img class="logoint" src="images/logonoob.png"> </a>
    </div>

        <div class="container" id="containervideo">
            <div class="row">
                <img src="images/miniaturesvideo.png" id="" class="imgcenter img-responsive">
                <div class="col-xs-4 saison titlesvideos">saison 1
                </div>
                <div class="col-xs-8 saison titlesep">22 épisodes - 1h35
                </div>
            </div>
            <a href="#/saison1">
                <div class="row espacerow">
                    <div class="col-xs-12 imgsaisons">
                        <img src="images/saisons/saison1.png" class="img-responsive">
                    </div>
                </div>
             </a>
            <div class="row">
                <div class="col-xs-4 saison titlesvideos">saison 2
                </div>
                <div class="col-xs-8 saison titlesep">17 épisodes - 2h29
                </div>
            </div>
            <a href="#/saison2">
                <div class="row espacerow">
                    <div class="col-xs-12 imgsaisons">
                        <img src="images/saisons/saison2.png" class="img-responsive">
                    </div>
                </div>
            </a>    
            
            <div class="row">
                <div class="col-xs-4 saison titlesvideos">saison 3
                </div>
                <div class="col-xs-8 saison titlesep">20 épisodes - 2h52
                </div>
            </div>
            <a href="#/saison3">
                <div class="row espacerow">
                    <div class="col-xs-12 imgsaisons">
                        <img src="images/saisons/saison3.png" class="img-responsive">
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-xs-4 saison titlesvideos">saison 4
                </div>
                <div class="col-xs-8 saison titlesep">14 épisodes - 2h26
                </div>
            </div>
            <a href="#/saison4">
                <div class="row espacerow">
                    <div class="col-xs-12 imgsaisons">
                        <img src="images/saisons/saison4.png" class="img-responsive">
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-xs-4 saison titlesvideos">saison 5
                </div>
                <div class="col-xs-8 saison titlesep">12 épisodes - 2h17
                </div>
            </div>
            <a href="#/saison5">
                <div class="row">
                    <div class="col-xs-12 imgsaisons">
                        <img src="images/saisons/saison4.png" class="img-responsive">
                    </div>
                </div>
            </a>  
</div>
</br>    
</br> 
</br> 
</br> 
<!--<footer class="footer footercustom" >
              <div class="container" >
                  <a href back><span><img class="iconback imgcenter" src="images/home.svg"></span></a>

              </div>
</footer>-->

<footer class="footer footernews">

                <div class="col-xs-5 iconnews">  <a href back><span> <img src="images/back.svg" class="iconback backvideos"></span></a>
                </div>


</footer>
