<div  class="row" >
    <div class="col-xs-12 colvideo">
        <a href="#/saison1">
            <img class="img-responsive imgcenter" src="http://placehold.it/555x125" class="video-thumb"/>
        </a>
    </div>    
</div>    

<div class="row">
    <div class="col-xs-12 colvideo ">
        <a href="#/saison1">
            <img class="img-responsive imgcenter" src="http://placehold.it/555x125" class="video-thumb"/>
        </a>
    </div>    
</div>    

<div class="row">
    <div class="col-xs-12 colvideo">
        <a href="#/saison1">
            <img class="img-responsive imgcenter" src="http://placehold.it/555x125" class="video-thumb"/>
        </a>
    </div>    
</div>    

<div class="row">
    <div class="col-xs-12 colvideo">
        <a href="#/saison1">
            <img class="img-responsive imgcenter" src="http://placehold.it/555x125" class="video-thumb"/>
        </a>
    </div>    
</div>    

<div class="row">
    <div class="col-xs-12 colvideo">
        <a href="#/saison1">
            <img class="img-responsive imgcenter" src="http://placehold.it/555x125" class="video-thumb"/>
        </a>
    </div>    
</div>    





