
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.video-thumb{

  margin-bottom: 5px;


}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:130px;
   
    
}


.footer {
  position: absolute;
  bottom: 0;
  position: fixed;  /*ajout */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: lightgray;
}

.colvideo {
    margin-bottom: 2px;

}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.test {                                             /*                  TOUJOURS DU TEST ????            */
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
}

.btnaventure {
 padding-top: 135px;
 position: fixed;
    
}

.btnplay {
  left:0;
  right:0;  /*ajout */
  padding-top: 30px;
}


.navbar {
    background: rgba(255,255,255,0.3);
    position: relative;
}
    
.imgaventure {
    
    width: 130px;
    position: fixed;
    bottom: 0;
}

.btn {
    border-radius: 0px;
    background-color: #2C2F32;
    color: white;
}

.container{
    
    bottom: 20px;
}

.nuage {
  padding-top: 120px;
}


.titles {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#inventaire {
    position: fixed;
    top: 10px;
    left: 10px;
}

#bonus {
    position: fixed;
    top: 60px;
    left: 10px;  
}

#aide {
    position: fixed;
    top: 110px;
    left: 10px; 
}

 #footercarte {
     bottom : 0;
     position: fixed;
     width : 100%;
     height : 60px;
 }

.infos {
    position: fixed;
    bottom:20px;
    right: 20px;
}

.modal-header {
    border-bottom: none;
}

.titlevideo

{
  font-size: 22px;
  font-family: 'Lato', sans-serif;
}

#pbar {
    padding-top: 10px;
}

#lvl {
    margin-left: 2px;
    margin-right: 7px;
}

.grimoire {
    text-align: center;
}

.imggrimoire {
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgfb

{
width:16px;
height:16px;

}

.tableauVideo{

margin-bottom: 60px;


}



.essai{

  height: 100%;
  width:100%;
  position: absolute;
}

.hperso
{
  height: 100px;
}

.dperso
{
  padding-bottom: 10px;
}


.drop-up {
    top: auto;
    bottom: 100% !important;
}

.iconback {
    width: 38px;
}

.comment {
    font-size: 28px;
}

.footernews {
    padding-top: 10px;
}

.iconnews {
    text-align: center;
    padding-top: 5px;
}

.videoc
{
  padding-left: 0px;
}

.btncontainer {
    padding-top: 40px;
    padding-left: 20px;
}



.btn-3 {
    padding: 20px 50px;
    border-radius: 7px;
    background: #b2e810;
    background-image: -webkit-linear-gradient(top, #b2e810, #71d300);
    background-image: -moz-linear-gradient(top, #b2e810, #71d300);
    background-image: -ms-linear-gradient(top, #b2e810, #71d300);
    background-image: -o-linear-gradient(top, #b2e810, #71d300);
    background-image: linear-gradient(to bottom, #b2e810, #71d300);
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    border-color: transparent;
    
}  

.btn-2 {
    padding: 20px 25px;
    border-radius: 7px;
    background: #19bbca;
    background-image: -webkit-linear-gradient(top, #19bbca, #0086bf);
    background-image: -moz-linear-gradient(top, #19bbca, #0086bf);
    background-image: -ms-linear-gradient(top, #19bbca, #0086bf);
    background-image: -o-linear-gradient(top, #19bbca, #0086bf);
    background-image: linear-gradient(to bottom, #19bbca, #0086bf);
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    border-color: transparent;
    
}

.btn-1 {
    padding: 20px 14px;
    border-radius: 7px;
    background: #19bbca;
    background-image: -webkit-linear-gradient(top, #19bbca, #0086bf);
    background-image: -moz-linear-gradient(top, #19bbca, #0086bf);
    background-image: -ms-linear-gradient(top, #19bbca, #0086bf);
    background-image: -o-linear-gradient(top, #19bbca, #0086bf);
    background-image: linear-gradient(to bottom, #19bbca, #0086bf);
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    border-color: transparent;
    
}

#miniatures {
    width: 170px;
    padding-left: 10px;
}

.accueil {
  background: url(../images/fond3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.background {
    background: url(../images/fond3.jpg) no-repeat center center fixed; 
    position: absolute;
    width: 100%;
    height: 120%;
}

.gras {
    color: #E4E810;
}

.newsp

{
  border:0px;
}

.btn-default:hover {
    color: white;
}

.btn-3:active {
    background: #b2e810;
    background-image: -webkit-linear-gradient(top, #b2e810, #71d300);
    background-image: -moz-linear-gradient(top, #b2e810, #71d300);
    background-image: -ms-linear-gradient(top, #b2e810, #71d300);
    background-image: -o-linear-gradient(top, #b2e810, #71d300);
    background-image: linear-gradient(to bottom, #b2e810, #71d300);
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    border-color: transparent;
}

.btn-2:active {
    padding: 20px 25px;
    border-radius: 7px;
    background: #19bbca;
    background-image: -webkit-linear-gradient(top, #19bbca, #0086bf);
    background-image: -moz-linear-gradient(top, #19bbca, #0086bf);
    background-image: -ms-linear-gradient(top, #19bbca, #0086bf);
    background-image: -o-linear-gradient(top, #19bbca, #0086bf);
    background-image: linear-gradient(to bottom, #19bbca, #0086bf);
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    border-color: transparent;
    
}

.btn-1:active {
    padding: 20px 14px;
    border-radius: 7px;
    background: #19bbca;
    background-image: -webkit-linear-gradient(top, #19bbca, #0086bf);
    background-image: -moz-linear-gradient(top, #19bbca, #0086bf);
    background-image: -ms-linear-gradient(top, #19bbca, #0086bf);
    background-image: -o-linear-gradient(top, #19bbca, #0086bf);
    background-image: linear-gradient(to bottom, #19bbca, #0086bf);
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    border-color: transparent;
    
}

.logoint {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
    margin-bottom: 10px;
    margin-top: 10px;
   
    
}

.saison {
    background: #19bbca;
    background-image: -webkit-linear-gradient(top, #19bbca, #0086bf);
    background-image: -moz-linear-gradient(top, #19bbca, #0086bf);
    background-image: -ms-linear-gradient(top, #19bbca, #0086bf);
    background-image: -o-linear-gradient(top, #19bbca, #0086bf);
    background-image: linear-gradient(to bottom, #19bbca, #0086bf);
   
}

.imgsaisons {
    padding-left: 0;
    padding-right: 0;
}

.saisonplay {
    background: #19bbca;
    background-image: -webkit-linear-gradient(top, #19bbca, #0086bf);
    background-image: -moz-linear-gradient(top, #19bbca, #0086bf);
    background-image: -ms-linear-gradient(top, #19bbca, #0086bf);
    background-image: -o-linear-gradient(top, #19bbca, #0086bf);
    background-image: linear-gradient(to bottom, #19bbca, #0086bf);
}

.titlesvideos {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color : white;
    font-size : 18px;
    text-shadow: 1px 1px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.64);
}

.titlesep {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-top: 1px;
    padding-bottom: 2px;
    font-size: 16px;
}

.btnplayvideo {
    font-size: 30px;
}

.espacerow {
    margin-bottom: 30px;
}

#miniaturesvideo {
    width: 350px;
}

#containervideo {
    padding-left: 30px;
    padding-right: 30px;
}

/*a {
 text-decoration: none;
 color: inherit;
}*/


.bgsaison {
    background-color: rgba(241, 242, 242, 0.85);
}

.espacesaison {
    margin-bottom: 30px;
}

.vignette {
    
}

.iconsposition

{
  padding-right: 0px;
}

.popup-in
{

  background-color: white; 
  position: absolute;
left: 5%;
top: 10%;
width: 580px;
height: 280px;
}

.popup-back
{

  background-color: black;
  position: absolute;
left: 0%;
top: 0%;
width: 640px;
height: 360px;
background-color: rgba(255, 255, 255, 0.4);

}

