 /* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.video-thumb{

  margin-bottom: 10px;


}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}


.footer {
  position: absolute;
  bottom: 0;
  position: fixed;  /*ajout */
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: lightgray;
}

.colvideo {
    margin-bottom: 2px;
    
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.test {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
}

.btnaventure {
  position: fixed; 
  top:127px; 
  left:0;
  right:0;/*ajout */

    
}

.btnplay {
 position: fixed; 
  top:330px; 
  left:0;
  right:0;  /*ajout */
  
    
}

.btnbas {
   position: absolute;
  bottom: 20px;
  position: fixed;  /*ajout */
  width: 100%;
  /* Set the fixed height of the footer here */
  

}

.navbar {
    background-color: white;
    
}


.imgaventure {
    height: 234px;
    width: 234px;
}

.btn {
    border-radius: 0px;
    background-color: #2C2F32;
    color: white;
}

.accueil {
    background: url(images/fond.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.videos {
    padding-top: 70px;
}

.news {
    padding-top: 70px;
}